.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
/* .swipeButtons_large{
    padding: 200px !important;

} */
.swipeButtons.MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10 px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
.swipeButtons_repeat{
    padding: 3vw !important;
    color: #f5b748 !important;
}
.swipeButtons_left{
    padding: 3vw !important;
    color: #ec5e6f !important;
}
.swipeButtons_star{
    padding: 3vw !important;
    color: #48f551 !important;
}
.swipeButtons_right{
    padding: 3vw !important;
    color: #b048f5 !important;
}
.swipeButtons_lightning{
    padding: 3vw !important;
    color: #53adb9 !important;
}




